body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  min-width: 930px !important;
}
core-header-panel {
  background: #fff;
}
core-toolbar {
  background-color: #3e50b4;
  color: #fff;
}
h4 {
  margin: 0 auto;
}
p {
  margin: 20px;
  padding: 80px 20px;
  border-radius: 20px;
  background-color: #eee;
}
.no-padding {
  margin: 0 !important;
}
.add-padding {
  margin-left: 2em;
  margin-right: 4em;
}
#stage {
  max-height: 900px;
  padding: 2em;
  margin: 2em;
  min-width: 600px;
  background-color: #eee;
}
.field {
  padding: 0 !important;
  margin-left: 2em;
}
#grades {
  margin-left: 2em;
  background-color: #fff;
}
.grade {
  margin-left: 2em;
  margin-right: 1em;
}
#display {
  margin-left: 2em;
  background-color: #fff;
}
#display .weight {
  color: #b71c1c;
}
#display .grade {
  color: #388e3c;
}
#titlebar {
  padding-top: 1em;
  height: 35px;
  background-color: #03a9f4;
  color: #fff;
}
.summary {
  color: #fff;
}
.summarytext {
  margin-left: 2em;
  margin-right: 4em;
}
.summaryhelper {
  margin-left: 2em;
  margin-right: 4em;
  margin-top: -2em;
  margin-bottom: -2em;
}
.custombar {
  height: 70px;
  margin-left: 2em;
}
.custombar .input {
  width: 65px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-bottom: 1.2rem !important;
}
.custombar2 {
  height: 70px;
  margin-left: 2em;
}
.custombar2 .input {
  width: 65px;
  margin-left: 1.7em;
  margin-right: 0.5em;
  padding-bottom: 1.2rem !important;
}
